white = #fff
black = #000

html, body
    width 100%
    height 100%

body
    background white
    font-family 'Open Sans', sans-serif
    font-size 15px

h1, h2, h3, h4, h5, h6
    font-family 'Open Sans', sans-serif

.spacer-50
    height 50px

.spacer-25
    height 25px

.title-icons-pipe
    border-right solid 3px black
    padding-right 8px

